
.section-footer{
  font-family: 'Crimson Text', serif; /* App font */
  font-size: 1.1rem;
  padding: 30px 30px;
}

.social-media {
  display: flex;
  justify-content: center;   /* centers horizontally */
  margin-top: 20px;
  margin-left: 20px;         /* distance from logo */
  width: fit-content;        /* box hugs the icon */
}

.social-media-icon {
  width: 1.6vw;
  height: 1.6vw;
  margin-right: 10px;
}

.vertical-list{
  display: flex;
  flex-direction: column;   /* stack items vertically */
  text-align: left;         /* left-align text inside */
  padding: 30px 20px;
  text-decoration: none;
  color:#3f332b
}

.vertical-list a {
  text-decoration: none;  /* removes underline */
  color: inherit;         /* makes links use surrounding text color */
}

.vertical-list-item{
  margin-top: 10px;
  margin-left: 10px;
  color:#847062;
  font-size: 1rem;
}