:root {
  --primary-color: #0a4f16;
  --accent-color: #70ab7d;
  --light-color: #DDD5C6;
  --text-color: #2e251f;
}

.box-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    max-width: 90%;
    margin: auto;
    height: 80%;
    gap: 50px;
    z-index: 2;
}

.firsthalf {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    margin-left: 5vw;
    z-index: 2;
}

.secondhalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     /* horizontally centers the image inside the column */
}

.text-big {
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
}

.h1-medium {
  font-size: 20px;
  font-family:  'Cormorant Garamond', serif;
}

.text-small {
   font-family: 'Crimson Text', serif;
    font-size: 18px;
}

.section {
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250)
}

.center-text {
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
  text-align: center;       /* centers text inside */
  background-color: white;
  width: 100%;
  height: 100%;
}

.center-text h1 {
  font-size: 2rem;
  font-weight: 500;
}